//Entire Work Section
.work {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 125px;
  margin: 0 auto;
  text-align: start;

  .work-word {
    margin-bottom: 50px;
  }
}

//Work Content
// .work .works {
//   border-radius: $border-radius;
//   margin-bottom: 100px;
// }

//Individual Box(not hovered)
// .work .work-box {
//   margin: 0 auto 50px auto;
//   margin-bottom: 75px;
//   a {
//     background: none;
//   }
//   .image {
//     height: 250px;
//     height: auto;
//     margin-left: 50%;
//     transform: translateX(-50%);
//     border-radius: $border-radius;
//     box-shadow: 1px 2px 5px 3px $shadow-initial;
//   }
//   .text {
//     .title {
//       margin: 1.5rem auto 0.5rem 0.3rem;
//     }
//     .description {
//       margin-left: 0.3rem;
//       margin-bottom: 1.5rem;
//     }
//   }
// }

//Individual Box (hovered)
// .work .work-box-hovered {
//   .image {
//     cursor: pointer;
//     top: -10px;
//   }
//   .text {
//     .title {
//       color: $blue;
//     }
//   }
// }
