//Entire About Section
.about {
  visibility: hidden;
  padding-top: 125px;
  padding-bottom: 125px;
  margin: 0 auto;
  text-align: start;
}

//Content
.about .content {
  margin-bottom: 100px;
}

//Short Description (Left)

//Right Description
.about .description {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

//Buttons (Right - linkedin, resume)
.about .buttons {
  .linkedin {
    padding: 10px 18px;
    margin: 5px 10px 5px 0px;
    border-radius: 999em;
    border: 1px $blue solid;
    &:hover {
      background: none;
      color: $white;
      background-color: $blue;
    }
    i {
      margin-right: 10px;
    }
  }
  .resume {
    padding: 10px 18px;
    margin: 5px 10px;
    border-radius: 999em;
    border: 1px $blue solid;
    &:hover {
      background: none;
      color: $white;
      background-color: $blue;
    }
    i {
      margin-right: 10px;
    }
  }
  margin-bottom: 1rem;
}

.about .learn-more {
  .fa-angle-right {
    color: $blue;
    margin-left: 10px;
  }
}
