//Entire Experience Section
.experience {
  padding-top: 50px;
  padding-bottom: 200px;
  // margin-bottom: 200px;
  margin-top: 125px;
  margin: 0 auto;
  text-align: start;
  .experience-word {
    margin-bottom: 50px;
  }
}

//Experience Content
.experience .experiences {
  margin-bottom: 30px;
}

//Experience Individual Left (Dates)
.experience .left {
  margin-top: 3rem;
  .months {
    color: $gray;
    margin-top: 4px;
  }
}

//Experience Individual Right
.experience .right {
  .logo {
    height: 150px;
    width: 150px;
  }
  .text .company {
    color: $gray;
  }
  &:hover {
    .text {
      color: $blue;
    }
  }
  .description {
    ul {
      margin: 0;
    }
    li {
      margin-bottom: 1rem;
    }
  }

  &:hover {
    position: relative;
    top: -10px;
  }
}

//Description
.experience .description {
  margin: 0.5rem 3rem 1rem 3.5rem;
}
