//01_helpers********************************************************
@import './01_helpers/functions';
@import './01_helpers/mixins';
@import './01_helpers/variables';

//02_tools********************************************************

//03_basics********************************************************
@import './03_basics/base';
@import './03_basics/buttons';
@import './03_basics/icons';
@import './03_basics/links';
@import './03_basics/typography';
@import './03_basics/content_templates';

.container {
  padding: 0 2rem;
  margin-right: 20px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

//04_sections-layout********************************************************

//gloabl
@import './04_sections/layout/global/header_layout';
@import './04_sections/layout/global/right_fixed_layout';
@import './04_sections/layout/global/footer_layout';

//home
@import './04_sections/layout/home/home_about_layout';
@import './04_sections/layout/home/home_work_layout';
@import './04_sections/layout/home/home_experience_layout';

//project
@import './04_sections/layout/project/project_header_layout';

//04_sections-style********************************************************

//global
@import './04_sections/style/global/header_style';
@import './04_sections/style/global/right_fixed_style';
@import './04_sections/style/global/footer_style';

//home
@import './04_sections/style/home/home_about_style';
@import './04_sections/style/home/home_work_style';
@import './04_sections/style/home/home_experience_style';

//project
@import './04_sections/style/project/project_header_style';
@import './04_sections/style/project/project_style';

//05_pages********************************************************
@import './05_pages/about_me';
@import './05_pages/_weddell';
@import './05_pages/_foodtruck';
