.about-me {
  .content {
    padding-top: 125px;
    margin-bottom: 150px;
    .noah-photo {
      @extend %three-seven;
      width: 100%;
      margin-bottom: 3rem;
    }
  }
}

#background,
#lesson-from-college,
#my-mission {
  @extend %three-seven;
}
