//include the divs(ID) that are inside of grid-wrapper
#challenge,
#context,
#design-exploration,
#final-design,
#reflections {
  //taking end to end section from the paren grid wrapper
  grid-column: 1/-1;

  //initializing another child grid (same # of column as the parent, grid-wrapper)
  @include grid-wrapper;

  @extend %grid-columns;
}

///////////////////////////////////////////////////////////////

.food-truck #introduction {
  .hero-image {
    background-image: url(../../images/food-truck-finder/hero.jpg);
  }
}

.food-truck #context {
  .notes {
    color: $gray;
    margin-top: 5px;
    text-indent: 1px;
  }
}

.food-truck #design-exploration .four-point-grid {
  color: $gray;
}

.food-truck #final-design .video-container video {
  width: 80%;
  //   width: 200px;
}

.other-works-word {
  @include grid-column(2, -1, left);
}

#other-works {
  background-color: $lightestGray;
  margin-top: 150px;
  margin-bottom: -150px;
}
