#overview,
#process,
#wireframes,
#design,
#learnings {
  grid-column: 1/-1;
  @include grid-wrapper;
  @extend %grid-columns;
}

/////////////////////////////////////////////////////////////////
.retriever {
  overflow-x: hidden;
}

.retriever #introduction {
  .hero-image {
    background-image: url(../../images/retriever/hero.jpg);
  }
}

.retriever {
  video {
    width: 80%;
  }
}

.retriever .user-journey-note {
  color: $gray;
}

.retriever #design .versus {
  text-align: center;
}

.retriever #design .versus-sub {
  text-align: center;
  color: $gray;
  min-height: 60px;
}

.retriever #design .user-flow-video {
  width: 100%;
}

.vs-recording,
.vs-notebook,
.vs-transciption {
  @media only screen and (max-width: $tablet) {
    margin-bottom: 70px;
    > br {
      display: none;
    }
  }
}
