#overview,
#process,
#wireframes,
#design,
#learnings {
  grid-column: 1/-1;
  @include grid-wrapper;
  @extend %grid-columns;
}

/////////////////////////////////////////////////////////////////

.retriever #introduction {
  .hero-image {
    background-image: url(../../images/retriever/hero.png);
  }
}

.retriever {
  video {
    width: 80%;
  }
}

.retriever .user-journey-note {
  color: $gray;
}

.retriever #design .versus {
  text-align: center;
}

.retriever #design .versus-sub {
  text-align: center;
  color: $gray;
  min-height: 60px;
}

.retriever #design .user-flow-video {
  width: 100%;
}
