//include the divs(ID) that are inside of grid-wrapper
#background,
#research,
#design-process,
#final-design,
#learnings {
  //taking end to end section from the paren grid wrapper
  grid-column: 1/-1;

  //initializing another child grid (same # of column as the parent, grid-wrapper)
  @include grid-wrapper;

  @extend %grid-columns;
}

///////////////////////////////////////////////////////////////

.weddell #introduction {
  .hero-image {
    background-image: url(../../images/weddell/hero.png);
  }
}

#final-design {
  .note {
    color: $lightGray;
  }
}

.other-works-word {
  @include grid-column(2, -1, left);
}

#other-works {
  background-color: $lightestGray;
  margin-top: 150px;
  margin-bottom: -150px;
}
