//Entire Header Section
.home-header {
  background-color: $off-white;
  top: 0;
  height: 60px;
  width: 100%;
  z-index: 999;
  opacity: 80%;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);

  .container {
    top: 14px;
    background: inherit;
  }
}

//left
.home-header .header-left {
  margin: auto 2rem;
}

//center
.home-header .header-center {
  justify-content: center;
}
.home-header .header-center .section {
  cursor: pointer;
  margin: 0 1.75rem;
  text-transform: uppercase;
}

//right

//active
.home-header .active {
  border-bottom-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .5s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='dodgerblue' stroke-width='1.5' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 1.2em;
  background-size: auto 5px;
  background-repeat: repeat-x;
  padding-bottom: 10px;
  text-decoration: none;
  color: $blue;
}
