//Colors
$white: #fff;
$off-white: #f7faf4;
$blue: #0171e3;
$lightBlue: #3b95f0;
$lightGray: #c4b2b6;
$lightestGray: #e7eee5;
$gray: #888;
$black: #333;

$shadow-initial: #eeedea;
$shadow-after: #e4e3e0;

//Window Sizes
$mobile: 480px;
$tablet: 700px;
$desktop: 1200px;

//Border Radius
$border-radius: 0.75rem;

//Grid Gap
$column-gap: 1.75rem;
$row-gap: 1.75rem;
