//Entire Work Section
.work {
  .container {
    .work-word {
      display: inline-block;
    }
  }
}

//Work Content
.work .content {
  display: flex;
  flex-wrap: wrap;
}

//Individual Box not hovered

//Individual Box hovered
.work .work-box-hovered {
  .image {
    position: relative;
  }
}
