//Entire Experience Section
.experience {
  .container {
    display: block;
    .experience-word {
      display: inline-block;
    }
  }
}

//Experience Content
.experience .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

//Experience Individual Left (Dates)
.experience .left {
  grid-column: 1/2;
  display: flex;
  position: relative;
  // align-items: center;
  p {
    margin-top: 20px;
    color: $gray;
  }
}

//Experience Individual Right
.experience .right {
  grid-column: 2/4;
  grid-column-gap: $column-gap;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .logo {
    place-self: center;
    grid-column: 1/2;
  }
  .text {
    display: inline-flex;
    grid-column: 2/4;
    .company {
      margin-top: 4px;
    }
  }
}

//Description
.experience .description {
  grid-column: 1/4;
}
