//Entire Experience Section
.experience {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 125px;
  margin: 0 auto;
  text-align: start;
  .container {
    display: block;
    .experience-word {
      margin-bottom: 50px;
    }
  }
}

//Experience Content
.experience .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 100px;
}

//Experience Individual Left (Dates)
.experience .left {
  grid-column: 1/2;
  display: flex;
  position: relative;
  display: flex;
  margin-top: 3rem;
}

//Experience Individual Right
.experience .right {
  grid-column: 2/4;
  grid-column-gap: $column-gap;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 1;
  .logo {
    place-self: center;
    grid-column: 1/2;
  }
  .text {
    display: inline-flex;
    grid-column: 2/4;
    .company {
      margin-top: 4px;
    }
  }
  .description {
    margin: 0.75rem 3rem 1.25rem 2rem;
    grid-column: 1/4;
    ul {
      margin: 0;
    }
    li {
      margin-bottom: 0.75rem;
    }
  }

  &:hover {
    position: relative;
    top: -10px;
  }
}
