//Entire Work Section
.work {
  max-width: 1680px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: $column-gap;
  .work-word {
    // display: inline-flex;
    grid-column: 2/8;
  }
}

//Work Content
.work .works {
  grid-column: 2/8;
  display: flex;
  flex-wrap: wrap;
}

//Individual Box not hovered

//Individual Box hovered
.work .work-box-hovered {
  .image {
    position: relative;
  }
}
