//Entire About Section
.about {
  max-width: 1680px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: $column-gap;
  row-gap: $row-gap;
  .about-word {
    grid-column: 2/9;
  }
}

//Short Description (Left)
.about .short {
  grid-column: 2/9;
}

//description
.about .description {
  grid-column: 4/8;
}

//Right Description

//Buttons (Right - linkedin, resume)
.about .buttons {
  grid-column: 4/8;
  align-self: end;
  display: inline-flex;
  .linkedin {
    display: inline-flex;
  }
  .resume {
    display: inline-flex;
  }
}

.about .learn-more {
  grid-column: 4/8;
}
