//Entire Header Section
.home-header {
  position: fixed;

  .container {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-column-gap: $column-gap;
  }
}

//left
.home-header .header-left {
  grid-column: 1/2;
  justify-self: start;
}

//center
.home-header .header-center {
  grid-column: 2/3;
  display: flex;
  // justify-content: space-between;
}

//right
.home-header .header-right {
  grid-column: 3/4;
  justify-self: end;
}

//active
