//Entire About Section
.about {
  .container {
    display: block;
    .about-word {
      display: inline-block;
    }
  }
}

//Content
.about .content {
  display: grid;
  grid-gap: $column-gap;
  grid-template-columns: 1fr 1fr 1fr;
}

//Short Description (Left)
.about .short {
  grid-column: 1/3;
}

//description
.about .description {
  grid-column: 2/4;
}

//Right Description

//Buttons (Right - linkedin, resume)
.about .buttons {
  grid-column: 2/3;
  align-self: end;
  display: inline-flex;
  .linkedin {
    display: inline-flex;
  }
  .resume {
    display: inline-flex;
  }
}

.about .learn-more {
  grid-column: 2/3;
  display: inline-block;
}
