.footer {
  margin: 0 auto;
  // max-width: 1680px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: $column-gap;
  justify-content: space-around;
  text-align: start;
  .copyright {
    color: $gray;
    margin-top: 0;
    grid-column: 2/5;
  }
  .links {
    display: flex;
    text-align: start;
    grid-column: 5/8;
    justify-self: end;
    justify-content: flex-end;
    a {
      margin-left: 1.5rem;
      .email,
      .resume,
      .linkedin {
        color: $blue;
      }
    }
  }
}
// @media only screen and (max-width: $tablet) {
//   .footer {
//     .link {
//       display: block;
//     }
//   }
// }
