//Entire Header Section
.header {
  max-width: 1680px;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  grid-column-gap: $column-gap;
}

//left
.header .header-left {
  grid-column: 1/2;
  justify-self: end;
}

//center
.header .header-center {
  grid-column: 2/8;
  display: flex;
  // justify-content: space-between;
}

//right
.header .header-right {
  grid-column: 8/9;
  justify-self: end;
}

//active
