.right-container {
  z-index: -1 !important;
  display: flex;
  flex-direction: column;
  .design-develop {
    text-align: end;
    position: fixed;
    top: 500px;
    right: 12px;
    transform: rotate(90deg);
    transform-origin: top right;
    // color: $gray;
    .contribution {
      transform-origin: bottom right;
      margin: 0;
    }
    @media only screen and (max-width: $large-phone) {
      visibility: hidden;
    }
  }
  .back-to-top {
    text-align: end;
    position: fixed;
    right: 12px;
    bottom: 20px;
    transform: rotate(90deg);
    transform-origin: top right;
    .to-top {
      align-content: center;
      color: $blue;
      &:hover {
        i {
          margin-right: 20px;
        }
      }
      i {
        margin-right: 10px;
      }
    }
  }
  @media only screen and (max-height: 700px) {
    .design-develop {
      visibility: hidden;
    }
  }
}
