.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: $column-gap;
  row-gap: $row-gap;
}

%three-seven {
  grid-column: 3/7;
  text-align: left;
}

.content {
  %heading {
    @extend %three-seven;
  }
  %sub-heading {
    @extend %three-seven;
  }
  %paragraph {
    @extend %three-seven;
  }
  %break {
    grid-column: 1/9;
    height: $row-gap;
  }
}
