@mixin grid-wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: $column-gap;
  row-gap: $row-gap;
  // @media only screen and (max-width: $tablet) {
  //   display: block;
  // }
}

// @mixin grid-wrapper-inside {
//   display: grid;
//   grid-template-columns: repeat(6, 1fr);
//   column-gap: $column-gap;
//   row-gap: $row-gap;
// }

.grid-wrapper {
  @include grid-wrapper;
}

img {
  position: relative;
  width: 100%;
}

%grid-column-011110 {
  grid-column: 3/7;
  text-align: left;
}

@mixin grid-column-111000 {
  grid-column: 1/4;
  text-align: left;
}
@mixin grid-column-000111 {
  grid-column: 4/7;
  text-align: left;
}

.break {
  grid-column: 1/9;
  height: $row-gap;
}
