// //roboto
// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');
// //roboto mono
// @import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400&display=swap');

// //Playfair Display
// @import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600&display=swap');

ol {
  list-style: none;
  display: block;
  counter-reset: list-numbering 0;
}

ol li {
  text-indent: -15px;
  margin-bottom: 1rem;
  margin-left: 45px;
  counter-increment: list-numbering;
  font-size: 1.15rem;
  font-weight: 300;
  line-height: 1.5;
}

ol li::before {
  font-family: 'Roboto', sans-serif;
  content: counter(list-numbering, decimal-leading-zero) '. ';
  margin-left: -1.65em;
  margin-right: 15px;
}
