//Entire Header Section
.project-header {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
}

//left
.project-header .header-left {
  grid-column: 1/2;
  justify-self: start;
  margin: auto 2rem;
}

//center
.project-header .header-center {
  grid-column: 2/3;
  justify-content: space-between;
}

//right
.project-header .header-right {
  grid-column: 3/4;
  justify-self: end;
}

//active
